*{
  margin: 0px;
  padding:0px;
  
}
.jumbotron-fluid{
 background-image: url('./back.jpg') !important;
 height: 80vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color:white;
  position: relative;
}

.navbar-light .navbar-brand {
  color: #ffff;
  font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color:#ffff;

}
.bg-light {
  background-color: transparent !important;
}
.navbar-light .navbar-text {
  color: #ffff;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 1.0rem 4rem !important;
  font-size: 1.45rem !important;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-lg {
  color: #ffff !important;
  background-color: #bc9d4080 !important;
  border-color: #bc9d4080  !important;
}
.btn-lg:hover {
  color: #ffff !important;
  background-color: black !important;
  border-color: black !important;
}
