*{
  margin: 0px;
  padding:0px;
  
}
.App{
  background: url('./App.jpg');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.jumbotron-fluid{
 background-image: url('./back.jpg') !important;
 height: 85vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color:white;
  position: relative;
}

.navbar-light .navbar-brand {
  color: #ffff;
  font-size: 30px;
}
.navbar-light .navbar-brand:hover{
  color:#bc9d4080;
  font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color:#ffff;

}
.bg-light {
  background-color: transparent !important;
}
.navbar-light .navbar-text {
  color: #ffff;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 1.0rem 4rem !important;
  font-size: 1.45rem !important;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-lg {
  color: #ffff !important;
  background-color: #bc9d4080 !important;
  border-color: #bc9d4080  !important;
}
.btn-lg:hover {
  color: #ffff !important;
  background-color: black !important;
  border-color: black !important;
}
.sign_in {
  color: #ffff !important;
background-color: #7d8753bf !important;
width: 100px;
}
.article{
  background-color: #00000057;
}
.art_card {
  color: #ffff !important;
  background-color: #e59129a3 !important;
  
}
.crd-0{
  display: flex;
}

 .section {
    color: white;
    background-color: #a37024fa;
}
.section-card{
  border: none !important;
  background-color: transparent !important;
}
.text-muted {
  color: #54e996 !important;
}

.btn-clr{
  background-color: thistle !important;
}
.img_0{
  height: 67% !important;
}
.img_hide{
  display: none !important;
}
.img_pag{
  height: 67% !important;
}
#page-numbers{
  color: white;
  text-align: center;
}
#pagination-list{
  color: white;
 
}
.pag-d{
  color: white !important;
  margin: 0px 10px;
 
  background-color:#132305 !important;  
}
.sctn{
  color:#ffff!important;
     font-weight: 500 !important;
     font-size: 20px !important;
}
  .sctn:focus {
    outline: 0;
     box-shadow: none !important; 
     
}

.paginate-section{
 background-color: #735e24;
}

.main-sc {
    position: absolute;
    top: 66px;
}

.grp{
  background-color: #fff !important;
}
.img_1{
  margin: 0px !important;
}
.imgsc{
  height: 100% !important;
}

.sc-main:nth-child(2) {
  margin-top: 55px;
  padding: 30px;
}
.sc-main:nth-child(4) {
  margin-top: 10px;
  padding: 30px;
}
.sc-main:nth-child(1) {
  margin-top: 20px;
  padding: 30px;
}
.sc-main:nth-child(3) {
  margin-top: 35px;
  padding: 40px;
  transition: transform 1s;
}
.sc-main:hover {
  transform: rotateY(180deg);
}